.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #333333;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #FFF;
  background-color: #333333;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;
}

/* Carousel */

.carousel-control{
  top: 84px;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.carousel-inner {
  height: 90vh;

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .carousel-inner {
    height: 28vh;
  }

  .carousel-control{
    top: 70px;
    bottom: 400px;
  }
}

/* Extra Small Devices, Phones -to do- */
@media only screen and (min-width : 480px) {
  .carousel-inner {
    height: 28vh;
  }

  .carousel-control{
    top: 70px;
    bottom: 400px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .carousel-inner {
    height: 40vh;
  }

  .carousel-control{
    top: 70px;
    bottom: 589px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .carousel-inner {
    height: 90vh;
  }

  .carousel-control{
    top: 84px;
    bottom: 0px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


.btn{
  font-size: 18px;
  background: #333333;
  color: #FFF;
  padding: 12px 22px;
  border: 2px solid #FFF;
}

footer {
  width: 100%;
  background-color: #333333;
  padding: 3%;
  color: #FFF;
}
.fa{
  padding: 20px;
  font-size:30px;
}
.fa:hover {
color: #D5D5D5;
text-decoration: none;
}
@media (max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width:600px) {
  .carousel-caption{
    display: none;
  }
  #icon {
  max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
.profile-image{
  width: 300px;
  max-width: 300px;
}
