.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #333333;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #FFF;
  background-color: #333333;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5;
}
/* Picture and Paragraph */
.img-circle {
    border-radius: 50%;
}



/* Form */





/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .carousel-inner {
    height: 28vh;
  }

  .carousel-control{
    top: 70px;
    bottom: 400px;
  }
}

/* Extra Small Devices, Phones -to do- */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



.container {
  margin: 3% auto;
}
#icon{
  max-width: 200px;
  margin: 1% auto;
}
footer {
  width: 100%;
  background-color: #333333;
  padding: 3%;
  color: #FFF;
}
.fa{
  padding: 20px;
  font-size:30px;
  color: #FFF;
}
.fa:hover {
color: #D5D5D5;
text-decoration: none;
}
@media (max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width:600px) {

  #icon {
  max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
