

/*Page navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 32px;
}
 li {
   display:inline;
 }

/* Main picture */
img {
  margin:
}




/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones -to do- */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



.container {
  margin: 3% auto;
}
#icon{
  max-width: 200px;
  margin: 1% auto;
}

.fa{
  padding: 20px;
  font-size:30px;
  color: #333333;
}
.fa:hover {
color: #5A5858;
text-decoration: none;
}
@media (max-width: 900px){
  .fa{
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width:600px) {

  #icon {
  max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
